.calculator-field {
  border: 5px solid rgba(17, 14, 46, 0.671);
  padding: 15px;
  justify-content: center;
  align-items: center;
  text-align: end;
  font-size: 30px;
}

html {
  background-color: grey;
  margin: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: white;
}

.calculator-body {
  display: flex;
  height: 400px;
  width: 300px;
  flex-direction: column;
  border: 10px solid steelblue;
}

.rows {
  display: flex;
  flex:auto;
}

button {
  flex: auto;
}